<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project xmlns:con="http://eviware.com/soapui/config" id="b121d555-a8c3-4877-8bd3-3d6f6da9e81d" created="3.50.0" activeEnvironment="QALATEST" encryptionMode="Not encrypted" name="Field Team" projectVersion="" updated="3.50.0" authProfile="NOVATEST" resourceRoot="${projectDir}" compositeProjectFormat="1.3">
  <con:description>CMiC Field Team APIs - Annonation, SubContract, PunchList,BidItemsImport, RFI, Contacts, Journal &amp; PCI Testcases are developed by Nous Team</con:description>
  <con:settings>
    <con:setting id="b121d555-a8c3-4877-8bd3-3d6f6da9e81dfileName">Nous-CMiC API Testing</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="Count Empty Values">true</con:setting>
    <con:setting id="Count ? Values">true</con:setting>
    <con:setting id="Excluded elements">&lt;xml-fragment/></con:setting>
    <con:setting id="Multi values">&lt;xml-fragment/></con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerUIAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Settings File Password" value=""/>
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="PreRequisite"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="SelectProjectFromUI"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.50.0\bin"/>
  <con:entry key="Environment" value="QALATEST"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:requirements>
    <con:requirement>
      <con:id>Bug001</con:id>
      <con:description>Raised issue by CMiC Team</con:description>
      <con:links/>
      <con:testCases>
        <con:entry>8d44d0b3-d358-4cf1-b7c7-c0e14bb7b090</con:entry>
      </con:testCases>
    </con:requirement>
  </con:requirements>
  <con:properties>
    <con:property>
      <con:name>projectID</con:name>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.afterTestCase" name="TestSuiteRunListener.afterTestCase">
    <con:script/>
  </con:eventHandlers>
  <con:environment id="4a8025f4-94ea-4501-9fea-c97dcac8b6cf" name="NOVA TEST" index="0">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="NOVATEST" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictestnew</con:endpoint>
    </con:service>
    <con:service type="REST" name="All Webservices">
      <con:endpoint authProfile="NOVATEST" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://nova-mobile-test.cmiccloud.com/cmictestnew</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="666f0f54-3a2d-4ab8-b829-d61485c4034e" name="ATLAS TEST" index="1">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="UPG" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://mobtest.cmiccloudr12.com/cmictestupg</con:endpoint>
    </con:service>
    <con:service type="REST" name="All Webservices">
      <con:endpoint authProfile="UPG" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://mobtest.cmiccloudr12.com/cmictestupg</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e6982624-acb8-444c-873d-074f9555a666" name="QADAILY" index="2">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="QADAILY" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:service type="REST" name="All Webservices">
      <con:endpoint authProfile="QADAILY" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="8c42fbef-6237-4219-8044-b73695a4c38c" name="QADAILY2" index="3">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="QADAILY2" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:service type="REST" name="All Webservices">
      <con:endpoint authProfile="QADAILY2" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qamob.cmicpaas.com/cmicqadaily2</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value>2026</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="dcf09228-28f0-461d-97ba-ae52da190086" name="QALATEST" index="4">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="QALATEST" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:service type="REST" name="All Webservices">
      <con:endpoint authProfile="QALATEST" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://qalatestmob.cmicpaas.com/cmicqalatest</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value>2011</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value>zBoSn2E6wxdiR1Dog85E-8bSt8i9AEb9Y.94YFGlx</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value>devik@nousinfo.com</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value>https://cmic.testrail.io/index.php?/api/v2</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a4f87cd8-f67a-452d-bd63-2a15b6cdd2b6" name="TestRailEnvironment" index="5">
    <con:service type="REST" name="ConstructPM Webservices">
      <con:endpoint authProfile="TESTRAIL" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">https://cmic.testrail.io</con:endpoint>
    </con:service>
    <con:property>
      <con:name>projectID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RunID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailAPIkey</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRailUrl</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository>
    <con:basicAuthEntry>
      <con:name>QADAILY</con:name>
      <con:type>Basic</con:type>
      <con:username>raman2</con:username>
      <con:password>raman2</con:password>
      <con:preemptive>false</con:preemptive>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>NOVATEST</con:name>
      <con:type>Basic</con:type>
      <con:username>R12CLOUD||CMICUSER</con:username>
      <con:password>a%5b%-616#1-F8b3#-A#2D9-6eebe-2b36A-593</con:password>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>UPG</con:name>
      <con:type>Basic</con:type>
      <con:username>SOLUTIONS||CMICUSER</con:username>
      <con:password>a1#%5-9AD52-F29e9-%1969-#C213-#51b6-1#C</con:password>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>QALATEST</con:name>
      <con:type>Basic</con:type>
      <con:username>raman</con:username>
      <con:password>raman1</con:password>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>QADAILY2</con:name>
      <con:type>Basic</con:type>
      <con:username>raman2</con:username>
      <con:password>raman2</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
    <con:basicAuthEntry>
      <con:name>TESTRAIL</con:name>
      <con:type>Basic</con:type>
      <con:username>devik@nousinfo.com</con:username>
      <con:password>CMiC_NousTestrail1896</con:password>
      <con:preemptive>true</con:preemptive>
    </con:basicAuthEntry>
  </con:authRepository>
  <con:environmentSpec>
    <con:entry environmentId="4a8025f4-94ea-4501-9fea-c97dcac8b6cf">
      <con:authProfile>NOVATEST</con:authProfile>
    </con:entry>
    <con:entry environmentId="666f0f54-3a2d-4ab8-b829-d61485c4034e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e6982624-acb8-444c-873d-074f9555a666">
      <con:authProfile>QADAILY</con:authProfile>
    </con:entry>
    <con:entry environmentId="8c42fbef-6237-4219-8044-b73695a4c38c">
      <con:authProfile>QADAILY</con:authProfile>
    </con:entry>
    <con:entry environmentId="dcf09228-28f0-461d-97ba-ae52da190086">
      <con:authProfile>QALATEST</con:authProfile>
    </con:entry>
    <con:entry environmentId="a4f87cd8-f67a-452d-bd63-2a15b6cdd2b6">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>e82ab375-911f-4d0f-b76b-2c1095d3f890</con:id>
      <con:name>Annotation</con:name>
    </con:tag>
    <con:tag>
      <con:id>c4a9b3b0-fe4d-44b8-a1cd-e873e92e452a</con:id>
      <con:name>FieldTeam</con:name>
    </con:tag>
    <con:tag>
      <con:id>a530a111-d311-48ca-b64a-8c9abf59e784</con:id>
      <con:name>SubContracts</con:name>
    </con:tag>
    <con:tag>
      <con:id>51a705db-8658-4c1c-8906-9eabeb6e3447</con:id>
      <con:name>RFI</con:name>
    </con:tag>
    <con:tag>
      <con:id>5e3efa9c-facc-43a0-9270-a868cfbeec4e</con:id>
      <con:name>PunchList</con:name>
    </con:tag>
    <con:tag>
      <con:id>75c6c237-fc73-4932-9321-beb05919beb4</con:id>
      <con:name>Journal</con:name>
    </con:tag>
    <con:tag>
      <con:id>0e013ecf-5aab-421c-9072-93bb77eb0a22</con:id>
      <con:name>BidItemsImport</con:name>
    </con:tag>
    <con:tag>
      <con:id>0e89e3c8-dfa3-44dc-b39b-3d35ac598e1a</con:id>
      <con:name>PCI</con:name>
    </con:tag>
    <con:tag>
      <con:id>b3e6a5b2-7267-41a5-8147-51657c14a2c6</con:id>
      <con:name>Contacts</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
